<% if @projects.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@projects.errors.count, "error") %> prohibited this
project from being saved:</h2>
        <ul>
        <% @projects.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %>
        </ul>
    </div>
    <% else %>
    <tr>
        <td><%= @project.name %></td>
        <td><%= @project.description %></td>
        <td><%= @project.start_on %></td>
        <td><%= @project.finish_on %></td>
        <td><%= @project.status %></td>
      </tr>
<% end %>
<% end %>
